# Basic files/directories
.DS_Store
.git/
node_modules
tags

*work*
.env*
base.yml

# Miscellaneous stuff that shouldn't be committed
resurrect
rss/.newsboat/cache.db
i3wm/.local/share/nvim
linear-client/config
