astroid==2.15.4
autoflake==2.1.1
beautifulsoup4==4.12.2
behave==1.2.6
black @ git+https://github.com/psf/black@de65741b8d49d78fa2675ef79b799cd35e92e7c1
blinker==1.4
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
dill==0.3.6
distlib==0.3.6
distro==1.7.0
distro-info===1.1build1
docopt==0.6.2
exceptiongroup==1.1.1
filelock==3.11.0
flake8==6.0.0
Flask==2.2.3
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.9.0
linkify-it-py==2.0.2
markdown-it-py==2.2.0
markdown-to-json==1.0.0
MarkupSafe==2.1.2
mccabe==0.7.0
mdformat==0.7.16
mdformat-gfm==0.3.5
mdformat_footnote==0.1.1
mdformat_frontmatter==2.0.1
mdformat_tables==0.4.1
mdit-py-plugins==0.3.5
mdurl==0.1.2
more-itertools==8.10.0
mypy-extensions==1.0.0
netifaces==0.11.0
nodeenv==1.7.0
oauthlib==3.2.0
packaging==23.1
parse==1.19.0
parse-type==0.6.0
pathspec==0.11.1
pipenv==2023.4.29
platformdirs==3.2.0
pluggy==1.0.0
psycopg2-binary==2.9.6
pycodestyle==2.10.0
pyflakes==3.0.1
PyGObject==3.42.1
pyhostman==0.1.3
PyJWT==2.3.0
pylint==2.17.3
pyparsing==2.4.7
pyright==1.1.304
pytest==7.3.1
python-apt==2.4.0+ubuntu1
python-dotenv==1.0.0
python-hosts==1.0.3
PyYAML==5.4.1
requests==2.30.0
ruamel.yaml==0.17.28
ruamel.yaml.clib==0.2.7
SecretStorage==3.3.1
six==1.16.0
soupsieve==2.4.1
systemd-python==234
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.5.0
ubuntu-advantage-tools==8001
uc-micro-py==1.0.2
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.0.2
virtualenv==20.21.0
virtualenv-clone==0.5.7
wadllib==1.3.6
Werkzeug==2.2.3
wrapt==1.15.0
zipp==1.0.0
