[alias]
	ctags = !.git/hooks/ctags

[branch]
  sort = -committerdate

[column]
  ui = auto

[commit]
  verbose = true

[core]
	editor = nvim
	excludesfile = ~/.config/git/.gitignore_global
  fsmonitor = true
  pager = delta

[delta]
  dark = true
	navigate = true
  side-by-side = true

[delta "interactive"]
	keep-plus-minus-markers = false

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[fetch]
  all = true
  prune = true
  pruneTags = true

[help]
  autocorrect = prompt

[init]
  defaultBranch = main
	templatedir = ~/.config/git/.git_template

[interactive]
  diffFilter = delta --color-only

[push]
	autoSetupRemote = true
  default = simple
  followTags = true

[merge]
  tool = nvim

[mergetool]
  prompt = false

[mergetool "nvim"]
  cmd = nvim -f -c "DiffviewOpen"

[pull]
  rebase = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  autoupdate = true
  enabled = true

[tag]
  sort = version:refname

[user]
	email = zach@zjlevine.dev
	name = Zachary Levine
