runtime node@18.12.0 (default)
package-manager yarn@1.22.17 (default)
package @addepar/argonath-cli@0.14.7 / argonath / node@18.12.0 npm@built-in (default)
package @fsouza/prettierd@0.22.5 / prettierd / node@18.12.0 npm@built-in (default)
package @percy/cli@1.0.0-beta.71 / percy / node@16.13.0 npm@built-in (default)
package asciify-image@0.1.9 / asciify / node@18.12.0 npm@built-in (default)
package autocorrect@1.2.0 / / node@18.12.0 npm@built-in (default)
package chokidar-cli@3.0.0 / chokidar / node@16.13.0 npm@built-in (default)
package commitizen@4.2.4 / cz, git-cz, commitizen / node@16.13.0 npm@built-in (default)
package cspell@6.17.0 / cspell / node@18.12.0 npm@built-in (default)
package cz-customizable@6.3.0 / cz-customizable / node@16.13.0 npm@built-in (default)
package dotencr@1.0.3 / dotenc / node@18.12.0 npm@built-in (default)
package ember-cli@3.28.4 / ember / node@16.13.0 npm@built-in (default)
package ember-template-lint@4.16.1 / ember-template-lint / node@18.12.0 npm@built-in (default)
package evernote@2.0.5 / / node@16.13.0 npm@built-in (default)
package git-split-diffs@0.10.0 / git-split-diffs / node@16.13.0 npm@built-in (default)
package jest@29.3.1 / jest / node@18.12.0 npm@built-in (default)
package json-diff@0.9.0 / json-diff / node@16.13.0 npm@built-in (default)
package logging-cli@1.0.0 / cli / node@18.12.0 npm@built-in (default)
package neovim@4.10.1 / neovim-node-host / node@18.12.0 npm@built-in (default)
package pomo@1.1.1 / pomojs / node@16.13.0 npm@built-in (default)
package prettier@2.7.1 / prettier / node@18.12.0 npm@built-in (default)
package pyright@1.1.279 / pyright, pyright-langserver / node@18.12.0 npm@built-in (default)
package ts-node@10.9.1 / ts-node, ts-node-cwd, ts-node-esm, ts-node-script, ts-node-transpile-only, ts-script / node@18.12.0 npm@built-in (default)
package typescript@4.8.4 / tsc, tsserver / node@18.12.0 npm@built-in (default)
